<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootswatch.css">
	<link rel="stylesheet" href="/static/css/variables.css">

	<header class="banner" role="banner">
     <img src="/static/images/header.jpg"/600x75>
	</header>
</head>

 <body>
		{% include "navbar.html" %}   

 
<div class= "container">

	<h1> Welcome to SINGAlong! </h1>

	<br>
	This is a page dedicated to keep seniors up-to-date with the current SING! news!
	</br>
	Here you can log in to check room changes, crew signups, crew information, dance videos, photos and more!
	</br>
	We hope this app will help us navigate our way to a better, more efficient SING!
	</br>
	</br>
	GET HYPED!!! SENYA SING! 2014!!! 
	</br>
	</br>
        </br>
	
	Created By Maia Ezratty, Christine Xu, Sabrina Kahn, and Noah Rosenberg (Period 7 SoftDev class)
	</div>
	</body>

</html>

