<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootswatch.css">
	<link rel="stylesheet" href="/static/css/variables.css">

	<header class="banner" role="banner">
     <img src="/static/images/header.jpg"/600x75>
	</header>
</head>

 <body>
		{% include "navbar.html" %}   

 
<div class= "container">

	<h1> Welcome to SINGAlong! </h1>
	<br>
	<br>
	<br>
	
	This is a page dedicated to keep all you SING-er's up-to-date with the current SING! news!
	</br>
	Here you can login to check room changes, crew signups, crew information, dance videos, pictures and more!
	</br>
	We hope this app will help you navigate your way to a better, more proefficient SING!
	</br>
	</br>
	</br>
	GET HYPED!!! SENYA SING!!!!!! 2014 
	</br>
	</br>
	</br>
	</br>
	</br>
	
	Created By Maia, Christine, Sabrina, Noah (Period 7 Softdev class)
	
	</div>
	</body>

</html>

