<html>

{% include "header.html" %}

 <body>
 {% include "FBcheck.html" %}
	{% include "navbar.html" %}

<div class="container">
<h1>Band</h1>
          
<div class="column">
          <form method="POST" >
          <div class="large-6 columns"  id = ""> </div>
            <div class="panel">
              <h3 class="hide-for-small">Director Information<hr/></h3>
	      <input style="width:250px;height:20px;max-width:1040px;" name="director">
          <br>
	  </div>

	  <div class="panel">
          <button type="input" class="btn-large btn" name="ad">Add Directors</button>
          </div>
	  </form>
	  {{director}}

	    <br>
	    <br>
            <form method = "POST">
            <div class="panel">
              <h3 class="hide-for-small">Members<hr/></h3>
             <input style="width:250px;height:20px;max-width:1040px;" name="member"  >
             <br>
	      </div>
	      <ul>
	      {{ member }}
	      </ul>
	      <div class="panel">
             <button type="input" class="btn-large btn" name="am">Add Members</button>
	     <button type="input" class="btn-large btn" name="rm">Remove Members</button>
            </div>
	    </form>
</div>
	    
	    <div class="panel">
              <h3 class="hide-for-small">Missed that Last Practice?<hr/></h3>
              <button type="input" class="btn-large btn" name="av">Add a Video!</button>
            </div>

<input type= "url" name = "vid" placeholder = "Enter url here"> </br>

<iframe width="420" height="345" src= {{ vid }} >
</iframe>
</div>
</body>
</html>src= "vid" >
</iframe>
        </div>
</div>
</body>
</html>
