<!DOCTYPE html>

<html>
{% include "header.html" %}
	<body>
	{% include "navbar.html" %}   
<div class= "container">

<b> SING! Administrators: </b>

<li>Ms. Pedrick</li>
<li>Mr. Thomas</li>
<br>
<b> Coordinator: </b>
</br>
Eric Zhang (EricZhang211@gmail.com)
646-463-2008
</br>
</br>
<b> Producers: </b>

<li>Shafeen Hemnani - Executive Producer of Student Affairs </li>

<li>Zoe Handy - Executive Producer of Budget and Finance</li>

<li>Alex Cheung - Producer</li>

<li>Regana Alicka - Producer</li>
</br>
<b> Directors of 2014 Sing! </b>
<br>
</br>
<u>ART</u>
James Reina,
Judy Lee,
Sora kim
</br>
<u>BELLY</u>
Anan Kazi
</br>
<u>CHORUS</u>
Savannah Jeffreys,
Andy Zhang,
Harrison Lu
</br>
<u>COSTUME</u>
Farzana Anika,
Sylvia Cheever,
Sabrina Khan
</br>
<u>MUSIC COORDINATOR</u>
Brian Ge,
Ben Vanden Heuval
</br>
<u>LIGHTS</u>
Sam Fuchs,
Matthew Dalton
</br>
<u>PROPS</u>
Victoria Greene,
Joyce Jin
</br>
<u>RAVE</u>
Glib Dolotov
</br>
<u>SOUND</u>
Robert Melamed,
Rosalie Campbell
</br>
<u>Step</u>
Megan Wilson,
Mehak Ijaz
</br>
<u>TECH</u>
John Lin,
Lily Lee,
William Aung,
Linda Zhao 

</div>
  </body>

</html>