<!DOCTYPE html>

<html>

{% include "header.hml" %}

 <body>
	{% include "navbar.html" %}

<h1> CONTEMP </h1>


<div class="row">
          
          <div class="large-6 columns"  id = ""> </div>
          
          <div class="large-6 columns">
            
            <h3 class="show-for-small">Members<hr/></h3>
            
            <div class="panel">
              <h4 class="hide-for-small">Members<hr/></h4>
	       <a href= class = "small button"> Add Members!</a>
            </div>
            
            <div class="panel">
              <h4 class="hide-for-small">Director Information<hr/></h4>
              <a href= class = "small button"> Add Directors!</a>
            </div>
            
          </div>
          
        </div>




</body>
</html>
