<!DOCTYPE html>

<html>
{% include "header.html" %}
	<body>
	{% include "navbar.html" %}   

<b> SING! Administrators: </b>
Pedrick
Thomas
</br>
<b> Coordinator: </b>
Eric Zhang (EricZhang211@gmail.com)
646-463-2008
</br>
<b> Producers: </b>
Shafeen Hemnani - Executive Producer of Student Affairs 
<br>
Zoe Handy - Executive Producer of Budget and Finance
<br>
Alex Cheung - Producer
<br>
Regana Alicka - Producer
</br>
<b> Directors of 2014 Sing! </b>
</br>
<u>ART</u>
James Reina
,Judy Lee
,Sora kim
</br>
<u>BELLY</u>
Anan Kazi
</br>
<u>CHORUS</u>
Savannah Jeffreys
,Andy Zhang
,Harrison Lu
</br>
<u>COSTUME</u>
Farzana Anika
,Sylvia Cheever
,Sabrina Khan
</br>
<u>MUSIC COORDINATOR</u>
Brian Ge
,Ben Vanden Heuval
</br>
<u>LIGHTS</u>
Sam Fuchs
,Matthew Dalton
</br>
<u>PROPS</u>
Victoria Greene
,Joyce Jin
</br>
<u>RAVE</u>
Glib Dolotov
</br>
<u>SOUND</u>
Robert Melamed
,Rosalie Campbell
</br>
<u>Step</u>
Megan Wilson
,Mehak Ijaz
</br>
<u>TECH</u>
John Lin
,Lily Lee
,William Aung
,Linda Zhao 


  </body>

</html>