<html>

{% include "header.html" %}

 <body>
 {% include "FBcheck.html" %}
	{% include "navbar.html" %}

<div class="container">
<h1>Costumes</h1>
<div class="column">
          <form method="POST" >
          <div class="large-6 columns"  id = ""> </div>
            <div class="panel">
              <h3 class="hide-for-small">Director Information<hr/></h3>
	      <textarea style="width:250px;height:20px;max-width:1040px;" name="director"  ></textarea>
          <br>
          <button type="input" class="btn-large btn" name="submit">Add Directors</button>
            </div>

	    <br>
	    <br>
            
            <div class="panel">
              <h3 class="hide-for-small">Members<hr/></h3>
             <textarea style="width:250px;height:20px;max-width:1040px;" name="member"  ></textarea>
             <br>
             <button type="input" class="btn-large btn" name="submit">Add Members</button>
            </div>
	    </form>
        </div>
{{ MEMBERS }}

</div>
</body>
</html>
