
<!DOCTYPE html>

<html>

{% include "header.html" %}

	<body>

	{% include "navbar.html" %}   

	<div class= "container">
	
	<h3> Please select your crew for information! </h3>
	<br>
	
	<a class="btn btn-default" href="/Belly" role="button">Belly</a>
	<a class="btn btn-default" href="/Boyshiphop" role="button">BoysHH</a>
	<a class="btn btn-default" href="/Contemporary" role="button">Contemp</a>
	<a class="btn btn-default" href="/Girlshiphop" role="button">Girls HH</a>
	<a class="btn btn-default" href="/Latin" role="button">Latin</a>
	<a class="btn btn-default" href="/Rave" role="button">Rave</a>
	<a class="btn btn-default" href="/Step" role="button">Step</a>

	<br>
	<br>

	<a class="btn btn-default" href="/Art" role="button">Art</a>
	<a class="btn btn-default" href="/Band" role="button">Band</a>
	<a class="btn btn-default" href="/Cast" role="button">Cast</a>
	<a class="btn btn-default" href="/Chorus" role="button">Chorus</a>
	<a class="btn btn-default" href="/Costumes" role="button">Costumes</a>
	<a class="btn btn-default" href="/Props" role="button">Props</a>
	<a class="btn btn-default"
	href="/SoundandLights"role="button">Lighting & Sound</a>
	<a class="btn btn-default" href="/Tech" role="button">Tech</a>
	
	
	</div>
	</body>

</html>