<head>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootswatch.css">
	<link rel="stylesheet" href="/static/css/variables.css">
	<link rel="stylesheet" href="/static/calendar/dist/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/calendar/dist/css/bootstrap-calendar.min.css">

	<header class="banner" role="banner">

     <img src="/static/images/header.jpg"/600x75>

</header>
</head>