<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootswatch.css">
	<link rel="stylesheet" href="/static/css/variables.css">
	<link rel="stylesheet" href="/static/calendar/dist/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/calendar/dist/css/bootstrap-calendar.min.css">

	<header class="banner" role="banner">

     <img src="/static/images/header.jpg"/600x75>

</header>
</head>
<body>
 {% include "FBcheck.html" %}
 {% include "navbar.html" %}
</br>
	<div class="container">
	<h2> News: </h2>
	</br>
	<textarea style="width:400px;height:150px;max-width:500px;"name="content"  ></textarea>
	</br>  
	<h2> Calendar of Events: </h2>

	  </br>
	  
  <iframe src="https://www.google.com/calendar/embed?src=bd4p1hb5pmsm2nc0t70tpcfskg%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
	
  </body> 

</html>
