<!DOCTYPE html>

<html>

{% include "header.html" %}

 <body>
	{% include "navbar.html" %}
<div class="container">
<h1> LATIN </h1>

          
          <div class="large-6 columns"  id = ""> </div>
            <div class="panel">
              <h3 class="hide-for-small">Director Information<hr/></h3>
	       <a href= class = "small button"> Add Directors!</a>
            </div>

	    <br>
	    <br>
            
            <div class="panel">
              <h3 class="hide-for-small">Members<hr/></h3>
              <a href= class = "small button"> Add Members!</a>
            </div>

	    <br>
	    <br>
	    
	    <div class="panel">
              <h3 class="hide-for-small">Missed that Last Practice?<hr/></h3>
              <a href= class = "small button"> Add a video!</a>
            </div>
        

	Add A Video:

<input type= "url" name = "vid" placeholder = "Enter url here"> </br>

<iframe width="420" height="345"
src= "vid" >
</iframe>
</div>
</body>
</html>
