<html>
{% include "header.html" %}
<body>
 {% include "navbar.html" %}

<div id="fb-root"></div>

<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 495497093900038,
          status     : true,
          xfbml      : true
        });
      FB.login(function(d) {
        window.location = './Home';
        console.log(d);
        });

      FB.getLoginStatus(function(d){
        if(d.status === 'connected'){
          window.location = './Home';
      }});
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "http://connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);

       }(document, 'script', 'facebook-jssdk'));
</script>
<br><br>

<div style="container">

<div class="fb-login-button" data-width="350" data-height="150" data-max-rows="2" data-show-faces="true" id="login">

</div>
<br><br>

</body>



</html>
