<html>

<head>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootswatch.css">
	<link rel="stylesheet" href="/static/css/variables.css">

	<header class="banner" role="banner">
     
     <img src="/static/images/header.jpg"/600x75>

	</header>

</head>

<body>
  <div id="fb-root"></div>
  <script src="FB.js"</script>



    <fb:login-button show-faces="true" width="200" max-rows="1">
    </fb:login-button>



</body>

</html>
