<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="active"><a href="#">Schedule</a></li>
	  
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crews <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Cast</a></li>
          <li><a href="#">Script</a></li>
          <li><a href="#">Art</a></li>
          <li><a href="#">Costume</a></li>
          <li><a href="#">Band</a></li>
          <li class="divider"></li>
          <li><a href="#">Latin</a></li>
          <li><a href="#">Boys Hip Hop</a></li>
          <li><a href="#">Girls Hip Hop</a></li>
          <li><a href="#">Belly</a></li>
          <li><a href="#">Rave</a></li>
          <li><a href="#">Swing</a></li>
          <li><a href="#">Indian</a></li>
        </ul>
      </li>
    </ul>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>