	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootswatch.css">
	<link rel="stylesheet" href="/static/css/variables.css">
	<link rel="stylesheet" href="/static/calendar/dist/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/calendar/dist/css/bootstrap-calendar.min.css"> 
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
          FB.init({
          appId      : 495497093900038,
          status     : true,
          xfbml      : true
          });
	  
	  (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "http://connect.facebook.net/en_US/all.js";
          fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
	  </script>
	  
	  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/Home">SINGAlong!</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/AboutUs">About Us</a></li>
      <li><a href="/Crews">Crews</a></li>
	  <li><a href="/Contact">Contact Us</a></li>
	</ul>
	  <ul class="nav navbar-nav navbar-right">
      <li><a onclick="FB.logout();">Logout</li>
	  </ul>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>

<script src="js/jquery.js"></script>        
<script src="js/bootstrap.js"></script>

 
