<!DOCTYPE html>

<html>

{% include "header.html" %}

 <body>
 {% include "FBcheck.html" %}
	{% include "navbar.html" %}
<div class="container">
<h1> RAVE </h1>
          
         <div class="column">
          <form method="POST" >
          <div class="large-6 columns"  id = ""> </div>
            <div class="panel">
              <h3 class="hide-for-small">Director Information<hr/></h3>
	      <textarea style="width:250px;height:20px;max-width:1040px;" name="director"  ></textarea>
          <br>
          <button type="input" class="btn-large btn" name="submit">Add Directors</button>
            </div>

	    <br>
	    <br>
            
            <div class="panel">
              <h3 class="hide-for-small">Members<hr/></h3>
             <textarea style="width:250px;height:20px;max-width:1040px;" name="member"  ></textarea>
             <br>
             <button type="input" class="btn-large btn" name="submit">Add Members</button>
            </div>
	    </form>
        </div>

	    <br>
	    <br>
	    
	    <div class="panel">
              <h3 class="hide-for-small">Missed that Last Practice?<hr/></h3>
              <a href= class = "small button"> Add a video!</a>
            </div>
        

	Add A Video:

<input type= "url" name = "vid" placeholder = "Enter url here"> </br>

<iframe width="420" height="345"
src= "vid" >
</iframe>
</div>
</body>
</html>
