
<!DOCTYPE html>

<html>

{% include "header.html" %}

	<body>

	{% include "navbar.html" %}   
	
	<a class="btn btn-default" href="/belly" role="button">Belly</a>
	<a class="btn btn-default" href="/boyshiphop" role="button">BoysHH</a>
	<a class="btn btn-default" href="/Contemporary" role="button">Contemp</a>
	<a class="btn btn-default" href="/girlshiphop" role="button">Girls HH</a>
	<a class="btn btn-default" href="/latin" role="button">Latin</a>
	<a class="btn btn-default" href="/rave" role="button">Rave</a>
	<a class="btn btn-default" href="/step" role="button">Step</a>
	</body>

</html>