<html>

{% include "header.html" %}

 <body>
 {% include "FBcheck.html" %}
	{% include "navbar.html" %}

<div class="container">
<h1>Sound and Lights</h1>
<div class="column">
          
          <div class="large-6 columns"  id = ""> </div>
            <div class="panel">
              <h3 class="hide-for-small">Director Information<hr/></h3>
	       <a href= class = "small button"> Add Directors!</a>
            </div>

	    <br>
	    <br>
            
            <div class="panel">
              <h3 class="hide-for-small">Members<hr/></h3>
              <a href= class = "small button"> Add Members!</a>
            </div>
        </div>
</div>
</body>
</html>
